  //  Background
$background-main-banner:rgba(245, 247, 255, 1);
$background-step-description:rgba(245, 247, 255, 1);
$background-step-number: rgb(243, 224, 255);
$backgtound-button-discover:rgba(84, 76, 172, 1);
$backgtound-button-watch:white;
$baclground-howitworks-section:rgb(245, 245, 245);
$background-whychooseus-section:rgb(245, 245, 245);
$background-step-description3:rgb(255, 222, 204);
$background-advantage-info:rgb(255, 255, 255);
$background-advantage-img:rgb(97, 86, 220);
$background-advantage-img2:rgb(239, 96, 16);
$background-advantage-img3:rgb(167, 62, 237);
$background-advantage-hover:rgb(249, 250, 255);
$background-apply-like:rgb(249, 250, 255);


// Color
$color-step-title:rgb(50, 50, 50);
$color-content-title:rgba(53, 52, 52, 1);
$color-content-title-span: red;
$color-content-description:rgba(168, 168, 168, 1);
$color-button-discover:rgba(255, 255, 255, 1);
$color-info-title__calltoaction:rgb(53, 52, 52);
$color-info-title__title:rgb(255, 92, 0);
$color-number-ofstep123:rgb(148, 68, 201);
$color-step-description-title__info:rgb(168, 168, 168);
$color-advantage-title:rgb(53, 52, 52);
$color-advantage-description:rgb(168, 168, 168);
$color-content-info__descripton:rgb(168, 168, 168);

// Breakpoints


  $mobile: 600px;
  $minitablet: 900px;
  $tablet: 1200px;
